@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --clr-bg: #eaf0f1;
  --clr-purple: #8b78e6;
  --clr-green: #01cbc6;
  --clr-white: whitesmoke;
  --clr-gray: #a4b0bd;

  --font-size: 16px;
  --border-radius: 0.3em;
}
body {
  font-size: var(--font-size);
  font-family: "Montserrat", sans-serif;
  background: var(--clr-bg);
}
.navbar {
  width: 100vw;
  background: var(--clr-purple);
  color: var(--clr-white);
}
ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 600;
  height: 3em;
}
ul li {
  padding-right: 2em;
  cursor: pointer;
}
ul li:first-child {
  margin-right: auto;
  margin-left: 2em;
}
ul li:first-child > * {
  vertical-align: middle;
}

ul li img {
  width: 30px;
  height: 35px;
}
/* end of .navbar */

/* Main Wrapper */
#main-wrapper {
  margin: 2em;
}

/* header */
.header {
  margin-top: -1em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.header h1 {
  text-shadow: 1px 2px 3px var(--clr-green);
}
#search {
  background-color: var(--clr-green);
  color: var(--clr-white);
  width: 15em;
  height: 2.5em;
  padding: 5px 1px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  cursor: text;
}
#search img {
  padding: 0 0.2em;
}
/* end of header */

/* Grid Wrapper */
#grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5em;
}
.container {
  padding: 1em;
  background: var(--clr-green);
  color: var(--clr-white);
  border-top: 4px solid var(--clr-purple);
}
.container img {
  margin-top: 1.2em;
  width: 100%;
  border-radius: var(--border-radius);
}
.container h2 {
  color: #000000;
  font-weight: bold;
  text-transform: capitalize;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
}
.container p {
  font-weight: 500;
  line-height: 1.65;
}
.container .date {
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-top: 0;
  margin-bottom: -1em;
}
/*======== 
footer
========== */
footer {
  color: #2ecc72;
  background: #2b2b52;
  font-size: 20px;
  font-weight: 500;
  margin-top: 80px;
}
footer .footer-info {
  display: grid;
  place-items: center;
}
.footer-info > * {
  margin: 25px 0 0 0;
}

.footer-info img {
  width: 30px;
  margin-right: 5px;
  transition: all 0.5s ease-in 0s;
  cursor: pointer;
}
.footer-info img:hover {
  transform: rotate(360deg) scale(1.5);
  filter: invert(25%);
}
.footer-info .cpy {
  margin-bottom: 10px;
}
/* end of footer */
/* Responsiveness */

@media only screen and (max-width: 550px) {
  #grid-wrapper {
    grid-template-columns: 1fr;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 1.5em;
  }
  .header h1 {
    margin: 0.5em 0;
  }
  #search {
    width: 100%;
  }
}
